html,body{
    height: 100%; width: 100%;
    padding: 0;
    margin: 0;
    border: 0;}

.container{ 
    width: 100%; height: 100%;
    background-image: url("../Img/transferir.jfif");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;}

.mess{
    width: 100%;
    max-width: 400px;
    height: 250px;
    border-radius: 20px;
    background: #ffffff10;
    border: 2px solid #ffffff30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#codificar{}
#decodificar{}