html,body{
    height: 100%; width: 100%;
    padding: 0;
    margin: 0;
    border: 0;}

.container{ 
    width: 100%; height: 100%;
    background-image: url("../Img/transferir.jfif");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;}

.mess{
    width: 100%;
    max-width: 400px;
    height: 250px;
    border-radius: 20px;
    background: #ffffff10;
    border: 2px solid #ffffff30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text{
    width: 250px;
    height: 500px;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;}
    

.opcoes_cod{
    width: 150px; 
    height: 100px;}

#number{
    display: none;
    width: 100px;
    height: 50px;
    margin-top: 10px;
}

#codificar{
color: #ffffff;
font-size: 20px;
}

#decodificar{
    color: #ffffff;
    font-size: 20px;
}

#but_gerar{
    width: 90px;
    height: 500px;
    background-color: #8c2764;
    border: 2px solid #8c276430;
    border-radius: 20px;
    font-size: 15px;
    color:#ffffff
}

#mensage_cod{ 
    font-size: 30px;
}